source/.gradle
source/components/utils/.settings
source/components/utils/.classpath
source/components/utils/.project
source/components/utils/bin
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
**/.settings
**/.classpath
**/.project
