#==============================================================================
# Provide database details to fetch table metadata
#==============================================================================
DB.DRIVER=org.postgresql.Driver
DB.URL=jdbc:postgresql://localhost:5432/portfolio?currentSchema=stocks
DB.USER=postgres
DB.PASSWORD=admin123

#==============================================================================
# Path and package name for java classes.
#==============================================================================
java.generated.file.base.dir=/Users/vijaygarothaya/work/product/neasaa-portfolio/source/components/portfolio/src/main/java/
# /Users/vijay/work/product/cloud-manager/source/components/engine/src/main/java/
java.generated.file.entity.package=com.neasaa.portfolio.entity
java.generated.file.dao.package=com.neasaa.portfolio.dao

#==============================================================================
# File path from where to get the copyright content for java classes
#==============================================================================
# Specify file path from where to pickup the copyright header for java class. 
# This can be file name in classpath or absolute file path.
JAVA.CLASS.COPYRIGHT.HEADER.FILEPATH=java.copyright.config

JAVA.CLASS.USE.LOMBOK.FOR.SETTER=true
JAVA.CLASS.USE.LOMBOK.FOR.GETTER=true

#==============================================================================
# List of tables used for generating code. 
#==============================================================================
TABLE.LIST= stockoptiondef,stockoptionquotehistory
# asset, stockalert, stockdetails, stockquotes, portfolio
#organization, cloud_provider, provider_resource_type, provider_resource_attribute, stack, environment, environment_resource, environment_resource_attribute


#==============================================================================
# Define table to java class name mapping. One config for each table.
# This config names are optional. If not provided, Table name will be used as 
# java class file.
# Format: 
# <TABLENAME>.CLASSNAME=<Java class name>
# Note: If this mapping is not define, this utility will write message with 
# list of missing configs. You can use output to define these configs.
#==============================================================================
#CUST_ORDER.CLASSNAME=CustomerOrder


#==============================================================================
# Define table column name to java field name mapping. 
# One config for each column for each table.
# This config names are optional. If not provided, column name will be used as 
# java field name (Instance variable).
# Format: 
# <TABLENAME>.<COLUMN_NAME>.FIELDNAME=<Java class instance variable name>
# Note: If this mapping is not define, this utility will write message with 
# list of missing configs. You can use output to define these configs.
#==============================================================================
#CUST_ORDER.ORDER_ID.FIELDNAME=OrderNumber



#Set this property to ignore column in entity class
#TABLENAME.COLUMN.FIELDNAME.IGNORE.ENTITY=true

ASSET.CLASSNAME=Asset
ASSET.SYMBOL.FIELDNAME=symbol
ASSET.NAME.FIELDNAME=name
ASSET.OTHERNAME.FIELDNAME=otherName
ASSET.ASSETTYPE.FIELDNAME=assetType
ASSET.RISKLEVEL.FIELDNAME=riskLevel
ASSET.FETCHQUOTES.FIELDNAME=fetchQuotes
ASSET.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime

STOCKOPTIONDEF.CLASSNAME=StockOptionDef
STOCKOPTIONDEF.UNDERLYINGSYMBOL.FIELDNAME=underlyingSymbol
STOCKOPTIONDEF.EXPIRATIONDATE.FIELDNAME=expirationDate
STOCKOPTIONDEF.PERIODTYPE.FIELDNAME=periodType
STOCKOPTIONDEF.FETCHQUOTES.FIELDNAME=fetchQuotes
STOCKOPTIONDEF.CALLSTRIKEPRICERANGE.FIELDNAME=callStrikePriceRange
STOCKOPTIONDEF.PUTSTRIKEPRICERANGE.FIELDNAME=putStrikePriceRange
STOCKOPTIONDEF.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime

STOCKOPTIONQUOTE.CLASSNAME=StockOptionQuote
STOCKOPTIONQUOTE.UNDERLYINGSYMBOL.FIELDNAME=underlyingSymbol
STOCKOPTIONQUOTE.EXPIRATIONDATE.FIELDNAME=expirationDate
STOCKOPTIONQUOTE.STRIKE.FIELDNAME=strike
STOCKOPTIONQUOTE.OPTIONTYPE.FIELDNAME=optionType
STOCKOPTIONQUOTE.CONTRACTSYMBOL.FIELDNAME=contractSymbol
STOCKOPTIONQUOTE.CURRENCY.FIELDNAME=currency
STOCKOPTIONQUOTE.LASTPRICE.FIELDNAME=lastPrice
STOCKOPTIONQUOTE.CHANGE.FIELDNAME=change
STOCKOPTIONQUOTE.PERCENTCHANGE.FIELDNAME=percentChange
STOCKOPTIONQUOTE.VOLUME.FIELDNAME=volume
STOCKOPTIONQUOTE.OPENINTEREST.FIELDNAME=openInterest
STOCKOPTIONQUOTE.BID.FIELDNAME=bid
STOCKOPTIONQUOTE.ASK.FIELDNAME=ask
STOCKOPTIONQUOTE.CONTRACTSIZE.FIELDNAME=contractSize
STOCKOPTIONQUOTE.LASTTRADEDATE.FIELDNAME=lastTradeDate
STOCKOPTIONQUOTE.IMPLIEDVOLATILITY.FIELDNAME=impliedVolatility
STOCKOPTIONQUOTE.INTHEMONEY.FIELDNAME=inTheMoney
STOCKOPTIONQUOTE.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime

STOCKOPTIONQUOTEHISTORY.CLASSNAME=StockOptionQuoteHistory
STOCKOPTIONQUOTEHISTORY.HISTORYID.FIELDNAME=historyId
STOCKOPTIONQUOTEHISTORY.UNDERLYINGSYMBOL.FIELDNAME=underlyingSymbol
STOCKOPTIONQUOTEHISTORY.EXPIRATIONDATE.FIELDNAME=expirationDate
STOCKOPTIONQUOTEHISTORY.STRIKE.FIELDNAME=strike
STOCKOPTIONQUOTEHISTORY.OPTIONTYPE.FIELDNAME=optionType
STOCKOPTIONQUOTEHISTORY.CONTRACTSYMBOL.FIELDNAME=contractSymbol
STOCKOPTIONQUOTEHISTORY.CURRENCY.FIELDNAME=currency
STOCKOPTIONQUOTEHISTORY.LASTPRICE.FIELDNAME=lastPrice
STOCKOPTIONQUOTEHISTORY.CHANGE.FIELDNAME=change
STOCKOPTIONQUOTEHISTORY.PERCENTCHANGE.FIELDNAME=percentChange
STOCKOPTIONQUOTEHISTORY.VOLUME.FIELDNAME=volume
STOCKOPTIONQUOTEHISTORY.OPENINTEREST.FIELDNAME=openInterest
STOCKOPTIONQUOTEHISTORY.BID.FIELDNAME=bid
STOCKOPTIONQUOTEHISTORY.ASK.FIELDNAME=ask
STOCKOPTIONQUOTEHISTORY.CONTRACTSIZE.FIELDNAME=contractSize
STOCKOPTIONQUOTEHISTORY.LASTTRADEDATE.FIELDNAME=lastTradeDate
STOCKOPTIONQUOTEHISTORY.IMPLIEDVOLATILITY.FIELDNAME=impliedVolatility
STOCKOPTIONQUOTEHISTORY.INTHEMONEY.FIELDNAME=inTheMoney
STOCKOPTIONQUOTEHISTORY.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime

STOCKQUOTES.CLASSNAME=StockQuotes
STOCKQUOTES.SYMBOL.FIELDNAME=symbol
STOCKQUOTES.DISPLAYNAME.FIELDNAME=displayName
STOCKQUOTES.REGULARMARKETPREVIOUSCLOSE.FIELDNAME=regularMarketPreviousClose
STOCKQUOTES.REGULARMARKETOPEN.FIELDNAME=regularMarketOpen
STOCKQUOTES.REGULARMARKETPRICE.FIELDNAME=regularMarketPrice
STOCKQUOTES.REGULARMARKETCHANGE.FIELDNAME=regularMarketChange
STOCKQUOTES.REGULARMARKETCHANGEPERCENT.FIELDNAME=regularMarketChangePercent
STOCKQUOTES.REGULARMARKETDAYLOW.FIELDNAME=regularMarketDayLow
STOCKQUOTES.REGULARMARKETDAYHIGH.FIELDNAME=regularMarketDayHigh
STOCKQUOTES.REGULARMARKETVOLUME.FIELDNAME=regularMarketVolume
STOCKQUOTES.REGULARMARKETTIME.FIELDNAME=regularMarketTime
STOCKQUOTES.BID.FIELDNAME=bid
STOCKQUOTES.ASK.FIELDNAME=ask
STOCKQUOTES.BIDSIZE.FIELDNAME=bidSize
STOCKQUOTES.ASKSIZE.FIELDNAME=askSize
STOCKQUOTES.POSTMARKETPRICE.FIELDNAME=postMarketPrice
STOCKQUOTES.POSTMARKETCHANGE.FIELDNAME=postMarketChange
STOCKQUOTES.POSTMARKETCHANGEPERCENT.FIELDNAME=postMarketChangePercent
STOCKQUOTES.POSTMARKETTIME.FIELDNAME=postMarketTime
STOCKQUOTES.PREMARKETPRICE.FIELDNAME=preMarketPrice
STOCKQUOTES.PREMARKETCHANGE.FIELDNAME=preMarketChange
STOCKQUOTES.PREMARKETCHANGEPERCENT.FIELDNAME=preMarketChangePercent
STOCKQUOTES.PREMARKETTIME.FIELDNAME=preMarketTime
STOCKQUOTES.AVERAGEDAILYVOLUME3MONTH.FIELDNAME=averageDailyVolume3Month
STOCKQUOTES.AVERAGEDAILYVOLUME10DAY.FIELDNAME=averageDailyVolume10Day
STOCKQUOTES.FIFTYTWOWEEKLOW.FIELDNAME=fiftyTwoWeekLow
STOCKQUOTES.FIFTYTWOWEEKHIGH.FIELDNAME=fiftyTwoWeekHigh
STOCKQUOTES.FIFTYTWOWEEKCHANGEPERCENT.FIELDNAME=fiftyTwoWeekChangePercent
STOCKQUOTES.FIFTYTWOWEEKLOWCHANGE.FIELDNAME=fiftyTwoWeekLowChange
STOCKQUOTES.FIFTYTWOWEEKLOWCHANGEPERCENT.FIELDNAME=fiftyTwoWeekLowChangePercent
STOCKQUOTES.FIFTYTWOWEEKHIGHCHANGE.FIELDNAME=fiftyTwoWeekHighChange
STOCKQUOTES.FIFTYTWOWEEKHIGHCHANGEPERCENT.FIELDNAME=fiftyTwoWeekHighChangePercent
STOCKQUOTES.FIFTYDAYAVERAGE.FIELDNAME=fiftyDayAverage
STOCKQUOTES.FIFTYDAYAVERAGECHANGE.FIELDNAME=fiftyDayAverageChange
STOCKQUOTES.FIFTYDAYAVERAGECHANGEPERCENT.FIELDNAME=fiftyDayAverageChangePercent
STOCKQUOTES.TWOHUNDREDDAYAVERAGE.FIELDNAME=twoHundredDayAverage
STOCKQUOTES.TWOHUNDREDDAYAVERAGECHANGE.FIELDNAME=twoHundredDayAverageChange
STOCKQUOTES.TWOHUNDREDDAYAVERAGECHANGEPERCENT.FIELDNAME=twoHundredDayAverageChangePercent
STOCKQUOTES.TRAILINGPE.FIELDNAME=trailingPE
STOCKQUOTES.FORWARDPE.FIELDNAME=forwardPE
STOCKQUOTES.EPSTRAILINGTWELVEMONTHS.FIELDNAME=epsTrailingTwelveMonths
STOCKQUOTES.EPSFORWARD.FIELDNAME=epsForward
STOCKQUOTES.EPSCURRENTYEAR.FIELDNAME=epsCurrentYear
STOCKQUOTES.PRICEEPSCURRENTYEAR.FIELDNAME=priceEpsCurrentYear
STOCKQUOTES.DIVIDENDRATE.FIELDNAME=dividendRate
STOCKQUOTES.DIVIDENDYIELD.FIELDNAME=dividendYield
STOCKQUOTES.DIVIDENDDATE.FIELDNAME=dividendDate
STOCKQUOTES.TRAILINGANNUALDIVIDENDYIELD.FIELDNAME=trailingAnnualDividendYield
STOCKQUOTES.TRAILINGANNUALDIVIDENDRATE.FIELDNAME=trailingAnnualDividendRate
STOCKQUOTES.MARKETCAP.FIELDNAME=marketCap
STOCKQUOTES.BOOKVALUE.FIELDNAME=bookValue
STOCKQUOTES.PRICETOBOOK.FIELDNAME=priceToBook
STOCKQUOTES.PRICEHINT.FIELDNAME=priceHint
STOCKQUOTES.AVERAGEANALYSTRATING.FIELDNAME=averageAnalystRating
STOCKQUOTES.EARNINGSTIMESTAMP.FIELDNAME=earningsTimestamp
STOCKQUOTES.EARNINGSTIMESTAMPSTART.FIELDNAME=earningsTimestampStart
STOCKQUOTES.EARNINGSTIMESTAMPEND.FIELDNAME=earningsTimestampEnd
STOCKQUOTES.FIRSTTRADEDATEMILLISECONDS.FIELDNAME=firstTradeDateMilliseconds
STOCKQUOTES.QUOTESOURCENAME.FIELDNAME=quoteSourceName
STOCKQUOTES.MARKET.FIELDNAME=market
STOCKQUOTES.MARKETSTATE.FIELDNAME=marketState
STOCKQUOTES.EXCHANGE.FIELDNAME=exchange
STOCKQUOTES.FULLEXCHANGENAME.FIELDNAME=fullExchangeName
STOCKQUOTES.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime

ACCOUNT.CLASSNAME=Account
ACCOUNT.ACCOUNTNUMBER.FIELDNAME=accountNumber
ACCOUNT.ACCOUNTNAME.FIELDNAME=accountName
ACCOUNT.PLATFORM.FIELDNAME=platform
ACCOUNT.ACCOUNTTYPE.FIELDNAME=accountYype
ACCOUNT.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime

PORTFOLIO.CLASSNAME=Portfolio
PORTFOLIO.ACCOUNTNUMBER.FIELDNAME=accountNumber
PORTFOLIO.SYMBOL.FIELDNAME=symbol
PORTFOLIO.DESCRIPTION.FIELDNAME=description
PORTFOLIO.QUANTITY.FIELDNAME=quantity
PORTFOLIO.LASTPRICE.FIELDNAME=lastPrice
PORTFOLIO.LASTPRICECHANGE.FIELDNAME=lastPriceChange
PORTFOLIO.LASTPRICECHANGEPERCENTAGE.FIELDNAME=lastPriceChangePercentage
PORTFOLIO.CURRENTVALUE.FIELDNAME=currentValue
PORTFOLIO.TODAYGAINLOSS.FIELDNAME=todayGainLoss
PORTFOLIO.TODAYGAINLOSSPERCENT.FIELDNAME=todayGainLossPercent
PORTFOLIO.TOTALGAINLOSS.FIELDNAME=totalGainLoss
PORTFOLIO.TOALGAINLOSSPERCENT.FIELDNAME=toalGainLossPercent
PORTFOLIO.PERCENTOFACCOUNT.FIELDNAME=percentOfAccount
PORTFOLIO.COSTBASISTOTAL.FIELDNAME=costBasisTotal
PORTFOLIO.AVERAGECOSTBASIS.FIELDNAME=averageCostBasis
PORTFOLIO.TYPE.FIELDNAME=type
PORTFOLIO.LOTNUMBER.FIELDNAME=lotNumber
PORTFOLIO.LINKEDLOTNUMBER.FIELDNAME=linkedLotNumber
PORTFOLIO.EFFECTIVEPRICE.FIELDNAME=effectivePrice
PORTFOLIO.STATEMENTDATE.FIELDNAME=statementDate
PORTFOLIO.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime

STOCKALERT.CLASSNAME=StockAlert
STOCKALERT.ALERTID.FIELDNAME=alertId
STOCKALERT.SYMBOL.FIELDNAME=symbol
STOCKALERT.TXNTYPE.FIELDNAME=txnType
STOCKALERT.NUMBEROFSHARES.FIELDNAME=numberOfShares
STOCKALERT.TARGETPRICE.FIELDNAME=targetPrice
STOCKALERT.VALIDUNTIL.FIELDNAME=validUntil
STOCKALERT.FLAGACTIVE.FIELDNAME=flagActive
STOCKALERT.ALERTCREATIONDATE.FIELDNAME=alertCreationDate
STOCKALERT.ALERTEXECUTIONDATE.FIELDNAME=alertExecutionDate
STOCKALERT.NOTES.FIELDNAME=notes
STOCKALERT.LASTUPDATEDTIME.FIELDNAME=lastUpdatedTime


ORGANIZATION.CLASSNAME=OrganizationEntity
ORGANIZATION.ID.FIELDNAME=organizationId
ORGANIZATION.ORG_NAME.FIELDNAME=orgName
ORGANIZATION.STATUS.FIELDNAME=status
ORGANIZATION.CREATED_BY.FIELDNAME=createdBy
ORGANIZATION.CREATED_DATE.FIELDNAME=createdDate
ORGANIZATION.UPDATED_BY.FIELDNAME=updatedBy
ORGANIZATION.UPDATED_DATE.FIELDNAME=updatedDate
ORGANIZATION.REVISION_NUMBER.FIELDNAME=revisionNumber

CLOUD_PROVIDER.CLASSNAME=CloudProviderEntity
CLOUD_PROVIDER.ID.FIELDNAME=providerId
CLOUD_PROVIDER.SHORT_NAME.FIELDNAME=shortName
CLOUD_PROVIDER.DESCRIPTION.FIELDNAME=description
CLOUD_PROVIDER.STATUS.FIELDNAME=status
CLOUD_PROVIDER.CREATED_BY.FIELDNAME=createdBy
CLOUD_PROVIDER.CREATED_DATE.FIELDNAME=createdDate
CLOUD_PROVIDER.UPDATED_BY.FIELDNAME=updatedBy
CLOUD_PROVIDER.UPDATED_DATE.FIELDNAME=updatedDate
CLOUD_PROVIDER.REVISION_NUMBER.FIELDNAME=revisionNumber

PROVIDER_RESOURCE_TYPE.CLASSNAME=ProviderResourceType
PROVIDER_RESOURCE_TYPE.ID.FIELDNAME=id
PROVIDER_RESOURCE_TYPE.CLOUD_PROVIDER_ID.FIELDNAME=cloudProviderId
PROVIDER_RESOURCE_TYPE.SHORT_NAME.FIELDNAME=shortName
PROVIDER_RESOURCE_TYPE.DESCRIPTON.FIELDNAME=descripton
PROVIDER_RESOURCE_TYPE.STATUS.FIELDNAME=status
PROVIDER_RESOURCE_TYPE.CREATED_BY.FIELDNAME=createdBy
PROVIDER_RESOURCE_TYPE.CREATED_DATE.FIELDNAME=createdDate
PROVIDER_RESOURCE_TYPE.UPDATED_BY.FIELDNAME=updatedBy
PROVIDER_RESOURCE_TYPE.UPDATED_DATE.FIELDNAME=updatedDate
PROVIDER_RESOURCE_TYPE.REVISION_NUMBER.FIELDNAME=revisionNumber


PROVIDER_RESOURCE_ATTRIBUTE.CLASSNAME=ProviderResourceAttribute
PROVIDER_RESOURCE_ATTRIBUTE.ID.FIELDNAME=id
PROVIDER_RESOURCE_ATTRIBUTE.RESOURCE_TYPE_ID.FIELDNAME=resourceTypeId
PROVIDER_RESOURCE_ATTRIBUTE.ATTRIBUTE_NAME.FIELDNAME=attributeName
PROVIDER_RESOURCE_ATTRIBUTE.ATTRIBUTE_DISPLAY_NAME.FIELDNAME=attributeDisplayName
PROVIDER_RESOURCE_ATTRIBUTE.DESCRIPTON.FIELDNAME=descripton
PROVIDER_RESOURCE_ATTRIBUTE.DATA_TYPE.FIELDNAME=dataType
PROVIDER_RESOURCE_ATTRIBUTE.STATUS.FIELDNAME=status
PROVIDER_RESOURCE_ATTRIBUTE.CREATED_BY.FIELDNAME=createdBy
PROVIDER_RESOURCE_ATTRIBUTE.CREATED_DATE.FIELDNAME=createdDate
PROVIDER_RESOURCE_ATTRIBUTE.UPDATED_BY.FIELDNAME=updatedBy
PROVIDER_RESOURCE_ATTRIBUTE.UPDATED_DATE.FIELDNAME=updatedDate
PROVIDER_RESOURCE_ATTRIBUTE.REVISION_NUMBER.FIELDNAME=revisionNumber



STACK.CLASSNAME=StackEntity
STACK.ID.FIELDNAME=stackId
STACK.ORGANIZATION_ID.FIELDNAME=organizationId
STACK.NAME.FIELDNAME=name
STACK.STATUS.FIELDNAME=status
STACK.CREATED_BY.FIELDNAME=createdBy
STACK.CREATED_DATE.FIELDNAME=createdDate
STACK.UPDATED_BY.FIELDNAME=updatedBy
STACK.UPDATED_DATE.FIELDNAME=updatedDate
STACK.REVISION_NUMBER.FIELDNAME=revisionNumber


ENVIRONMENT.CLASSNAME=EnvironmentEntity
ENVIRONMENT.ID.FIELDNAME=environmentId
ENVIRONMENT.STACK_ID.FIELDNAME=stackId
ENVIRONMENT.NAME.FIELDNAME=name
ENVIRONMENT.CLOUD_PROVIDER_ID.FIELDNAME=CloudProviderId
ENVIRONMENT.STATUS.FIELDNAME=status
ENVIRONMENT.CREATED_BY.FIELDNAME=createdBy
ENVIRONMENT.CREATED_DATE.FIELDNAME=createdDate
ENVIRONMENT.UPDATED_BY.FIELDNAME=updatedBy
ENVIRONMENT.UPDATED_DATE.FIELDNAME=updatedDate
ENVIRONMENT.REVISION_NUMBER.FIELDNAME=revisionNumber


ENVIRONMENT_RESOURCE.CLASSNAME=EnvironmentResource
ENVIRONMENT_RESOURCE.ID.FIELDNAME=id
ENVIRONMENT_RESOURCE.ENVIRONMENT_ID.FIELDNAME=environmentId
ENVIRONMENT_RESOURCE.RESOURCE_TYPE_ID.FIELDNAME=resourceTypeId
ENVIRONMENT_RESOURCE.STATUS.FIELDNAME=status
ENVIRONMENT_RESOURCE.CREATED_BY.FIELDNAME=createdBy
ENVIRONMENT_RESOURCE.CREATED_DATE.FIELDNAME=createdDate
ENVIRONMENT_RESOURCE.UPDATED_BY.FIELDNAME=updatedBy
ENVIRONMENT_RESOURCE.UPDATED_DATE.FIELDNAME=updatedDate
ENVIRONMENT_RESOURCE.REVISION_NUMBER.FIELDNAME=revisionNumber


ENVIRONMENT_RESOURCE_ATTRIBUTE.CLASSNAME=EnvironmentResourceAttribute
ENVIRONMENT_RESOURCE_ATTRIBUTE.ID.FIELDNAME=id
ENVIRONMENT_RESOURCE_ATTRIBUTE.ENVIRONMENT_ID.FIELDNAME=environmentId
ENVIRONMENT_RESOURCE_ATTRIBUTE.ATTRIBUTE_ID.FIELDNAME=attributeId
ENVIRONMENT_RESOURCE_ATTRIBUTE.ATTRIBUTE_VALUE.FIELDNAME=attributeValue
ENVIRONMENT_RESOURCE_ATTRIBUTE.STATUS.FIELDNAME=status
ENVIRONMENT_RESOURCE_ATTRIBUTE.CREATED_BY.FIELDNAME=createdBy
ENVIRONMENT_RESOURCE_ATTRIBUTE.CREATED_DATE.FIELDNAME=createdDate
ENVIRONMENT_RESOURCE_ATTRIBUTE.UPDATED_BY.FIELDNAME=updatedBy
ENVIRONMENT_RESOURCE_ATTRIBUTE.UPDATED_DATE.FIELDNAME=updatedDate
ENVIRONMENT_RESOURCE_ATTRIBUTE.REVISION_NUMBER.FIELDNAME=revisionNumber
